'.text.tex.latex':
  # These snippets are available everywhere
  '\\begin{}...\\end{}':
    'prefix': '\\begin'
    'body': '\\\\begin{${1:env}}$2\n\t$0\n\\\\end{${1:env}}'
    'description': 'Begin new environment'
    'descriptionMoreURL': 'https://www.sharelatex.com/learn/Environments'
  '\\usepackage{}':
    'prefix': '\\usepackage'
    'body': '\\\\usepackage$2{${1:<package>}}\n$0'
    'description': 'Load a package'
    'descriptionMoreURL': 'https://www.sharelatex.com/learn/Creating_a_document_in_LaTeX#!#The_preamble_of_a_document'
  '\\documentclass{}':
    'prefix': '\\documentclass'
    'body': '\\\\documentclass[${2:optional}]{${1:<class>}}\n$0'
    'description': 'Set document class'
    'descriptionMoreURL': 'https://en.wikibooks.org/wiki/LaTeX/Document_Structure#Document_classes'
  '\\begin{align}':
    'prefix': '\\align'
    'body': '\\%\n\\\\begin{align$2}\n\t$1$3\n\\\\end{align$2}'
    'description': 'Begin amsmath align env`ironment'
    'descriptionMoreURL': 'https://www.sharelatex.com/learn/Aligning_equations_with_amsmath#!#Aligning_several_equations'
  '!TEX root':
    'prefix': '!TEX root'
    'body': '% !TEX root = $1'
  '!TEX engine':
    'prefix': '!TEX engine'
    'body': '% !TEX engine = $1'
  '!TEX program':
    'prefix': '!TEX program'
    'body': '% !TEX program = $1'
  '!TEX jobname':
    'prefix': '!TEX jobname'
    'body': '% !TEX jobname = $1'
  '!TEX outputDirectory':
    'prefix': '!TEX outputDirectory'
    'body': '% !TEX outputDirectory = $1'
  '!TEX cleanPatterns':
    'prefix': '!TEX cleanPatterns'
    'body': '% !TEX cleanPatterns = $1'
  '\\section{}':
    'prefix': '\\section'
    'body': '\\\\section\\{$1\\}$0'
  '\\subsection{}':
    'prefix': '\\subsection'
    'body': '\\\\subsection\\{$1\\}$0'
  '\\subsubsection{}':
    'prefix': '\\subsubsection'
    'body': '\\\\subsubsection\\{$1\\}$0'
  '\\begin{figure}':
    'prefix': '\\figure'
    'body': '''
    \\\\begin{figure}[$1]
    \t\\\\centering
    \t\\\\includegraphics{$2}
    \t\\\\caption{$3}
    \t\\\\label{$4}
    \\\\end{figure}
    $5
    '''
  '\\autocite{}':
    'prefix': '\\autocite'
    'body': '\\\\autocite{$1}$0'

# These snippets are available in mathmode
'.text.tex.latex .string.other.math':
  'fraction':
    'prefix': '\\frac'
    'body': '\\\\frac{$1}{$2}$0'
    'description': 'Display math fraction'
    'descriptionMoreURL': 'https://en.wikibooks.org/wiki/LaTeX/Mathematics'
  'text':
    'prefix': '\\text'
    'body': '\\\\text{$1}$0'
    'description': 'Text in mathmode'
    'descriptionMoreURL': 'https://en.wikibooks.org/wiki/LaTeX/Mathematics#Adding_text_to_equations'
