name: 'Embedded LaTeX' # doesn't appear to be used anywhere
injectionSelector: 'source.embedded.latex'
scopeName: "plain.latex" # doesn't appear to be used anywhere
patterns: [{ include: "text.tex.latex#syntaxPlain"}]
