name: 'Plain LaTeX' # appears in grammar selection menu
injectionSelector: 'source.embedded.latex'
scopeName: "plain.latex" # doesn't appear to be used anywhere
patterns: [{ include: "text.tex.latex#syntaxPlain"}]
