legacyScopeName: 'text.tex.bibtex'
scopeName: 'text.tex.bibtex'

fileTypes: ['bib']

firstLineMatch: 'bibtex'

id: 'bibtex'

name: 'Tree BiBTeX'

type: 'tree-sitter'

parser: 'tree-sitter-bibtex'

folds: [
  {
    type: 'comment'
  }
]

scopes:
  'program': 'text.tex.bibtex'
  'comment': 'comment.inline'
  'comment_command': 'comment.block'

  'entry > identifier': 'constant'
  'entry > key_b': 'keyword'
  'entry > key_p': 'keyword'

  'field > identifier': 'variable.other.identifier'
  'field > value': 'string'
