id: 'latex'
name: 'LaTeX2e-tree'
type: 'tree-sitter'
parser: 'tree-sitter-latex2e'
legacyScopeName: 'text.tex.latex'

fileTypes: ['tex']

folds: [
  { type: 'comment' }
]

comments:
  start: '%'

scopes:
  'program': 'text.tex.latex'
  'comment': 'comment.line.latex'
  'control_sequence': 'support.function.general.latex'
  'number': 'constant.character.latex'
  'group': 'markup.bold'
