legacyScopeName: 'text.tex.bibtex'

fileTypes: ['bib']

firstLineMatch: '[^(bibtex)]'

id: 'bibtex'

name: 'Tree BiBTeX'

type: 'tree-sitter'

parser: 'tree-sitter-bibtex'

scopes:
  'program': 'text.tex.bibtex'
  'comment': 'comment.inline'
  'comment_command': 'comment.block'

  'entry > name': 'constant'
  'entry > key': 'keyword'

  'field > identifier': 'variable.other.identifier'
  'field > value': 'string'
