'.text.tex.latex':
  'editor':
    'commentStart': '% '
    'increaseIndentPattern': '^\\s*(\\\\)begin\\{[^(document)]\\w*\\}'
    'decreaseIndentPattern': '^\\s*(\\\\)end\\{\\w*\\}'
    'tabLength': 4
    'softWrap': true

'.text.tex.latex.tikz':
  'editor':
    'commentStart': '% '

'.source.embedded.tikz':
  'editor':
    'commentStart': '% '

'.text.tex.latex.log':
  'whitespace':
    'ensureSingleTrailingNewline': false
    'removeTrailingWhitespace': false
