'.text.tex.latex':
  'editor':
    'commentStart': '% '
    'increaseIndentPattern': '^\\s*(\\\\)begin\\{[^(document)]\\w*\\}'
    'decreaseIndentPattern': '^\\s*(\\\\)end\\{\\w*\\}'
    'tabLength': 4
    'softWrap': true
    'preferredLineLength': 90
    'scrollPastEnd': true

'.text.tex.latex.tikz':
  'editor':
    'commentStart': '% '
